# Compiled class files
*.class

# Log files
*.log

# IntelliJ IDEA files
.idea/
*.iml

# Eclipse files
.classpath
.project
.settings/


# Maven build directory
target/

# Gradle build directory
build/

# Compiled Java bytecode
*.jar
*.war

# Temporary files
*.tmp
*.swp
